
   
      
        
              <table mat-table [dataSource]="dataSource" class="table-hover" style="width: 100%;">
  
                  <ng-container matColumnDef="Commentaire">
                      <th class="ui-helper-center" mat-header-cell *matHeaderCellDef> Commentaire </th>
                      <td class="ui-helper-center" mat-cell *matCellDef="let element"> {{element.commentaire}} </td>    
                  </ng-container>
                  <tr mat-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  
              </table>

              <mat-paginator [pageSize]="10" ></mat-paginator>
    
 

  


     
  