        
<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->

<button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5"> <span class="material-icons">
  input
  </span> </button>


<mat-menu #profile="matMenu" class="mymegamenu">
    <button
      mat-menu-item
    (click)="signout()"
    >
      <mat-icon>exit_to_app</mat-icon> Sign Out
    </button>
  </mat-menu>